:root {--Light-grayish-cyan: hsl(185, 41%, 84%); }

.container-back {display: flex; }

body { background-color: var(--Light-grayish-cyan); }

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }
